@import url(assets/styles/produto.css);

:root {
    --color-font:#BF1506;
    --color-font-destaque:#0D0B0B; 
    --color-back:#ffffff;
    --color-button:#BF1506;
    --color-carrousel:#04040484;

    --font-primary:"Oswald", sans-serif;
    --font-segundary:"Orbitron", sans-serif;

}

body {
    background-color: var(--color-back);

}

main {
    min-height: 100vh;
    
}