@import url("assets/styles/hero.css");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap');
@import url(assets/animations/carrousel.css);

:root {
    --color-font:#BF1506;
    --color-font-destaque:#0D0B0B; 
    --color-back:#ffffff;
    --color-button:#BF1506;
    --color-carrousel:#04040484;

    --font-primary:"Oswald", sans-serif;
    --font-segundary:"Orbitron", sans-serif;
}

body {
    background-color: var(--color-back);
    font-family: sans-serif;
}

main {
    min-height: 100%;
}